# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/**/gradle-wrapper.jar
android/captures/
android/.idea/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/build/
ios/.generated/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/Assets.xcassets/LaunchImage.imageset/*.png

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/build/

# Windows
windows/flutter/ephemeral/
windows/build/

# Linux
linux/flutter/ephemeral/
linux/build/

# Web
web/.dart_tool/
web/build/

# IDEs and editors
.idea/
.vscode/
*.iml

# Others
*.log
*.lock
*.tmp
*.swp
.DS_Store
Thumbs.db

# Firebase / secrets (if used)
*.keystore
*.jks
google-services.json
GoogleService-Info.plist
.env
